.image-carousel{
	background-image: url(../assets/images/photos/cat_paw.jpg);
	background-size: cover;
  background-position: center center;
	position: inline-block;
	width: 100vw;
	height: 100vh;
}

.carousel-slider .col-sm{
  height: .7rem;
}

.service-card img{
  z-index: 2;
}

.service-card-body{
  margin-top: -2rem !important;
  border-radius: 1rem;
  -webkit-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
}

.section-preview{
  height: 80vh;
  background-image: url(../assets/images/photos/preview.jpg);
  background-size: cover;
  background-position: center center;
}

.section-around{
  background-color: #4AB374;
  color: white;
}

.btn-main-white{
  border-color: rgba(0,0,0,0);
  color: #4AB374;
  background-color: white;
  -webkit-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
}

.bg-green-main{
  background-color: #4AB374;
}

.shadow{
  -webkit-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
}

.navbar{
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 85%);
}

.navbar-light .navbar-toggler{
  border: none;
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-brand img{
  width: 10em;
}

@media only screen and (max-width: 980px) {
  .navbar-brand img{
    width: 15em;
  }
  .mh-1{
    font-size: 8em;
  }
  .sh-1{
    font-size: 8em;
  }
  .head-cta{
    bottom: 8em;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  #main-cta-appstore,#main-cta-googleplay{
    font-size: 2em;
    padding-top: 0.50em !important;
    padding-bottom: 0.50em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
  #main-cta-appstore img,#main-cta-googleplay img{
    width: 1.2em;
  }
}

/*@media only screen and (max-width: 4094px)  {
  .navbar-brand img{
    width: 10em;
  }
}*/

/* check */

