.image-carousel{
	background-image: url(../assets/images/photos/cat_paw.jpg);
	background-size: cover;
  background-position: center center;
	position: inline-block;
	width: 100vw;
	height: 100vh;
}

.carousel-slider .col-sm{
  height: .7rem;
}

.service-card img{
  z-index: 2;
}

.service-card-body{
  margin-top: -2rem !important;
  border-radius: 1rem;
  -webkit-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
}

.section-preview{
  height: 80vh;
  background-image: url(../assets/images/photos/preview.jpg);
  background-size: cover;
  background-position: center center;
}

.section-around{
  background-color: #4AB374;
  color: white;
}

.btn-main-white{
  border-color: rgba(0,0,0,0);
  color: #4AB374;
  background-color: white;
  -webkit-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
}

.bg-green-main{
  background-color: #4AB374;
}

.shadow{
  -webkit-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 8px 23px -7px rgba(0,0,0,0.75);
}

.navbar-light .navbar-toggler{
  border: none;
}

/*.navbar-brand img{
    width: 15em;
  }*/

@media only screen and (max-width: 980px)  {
  .navbar-brand img{
    width: 10em;
  }
  .lh-1{
    text-align: center;
  }
  .main-cta{
    text-align: center;
  }
}

@media only screen and (max-width: 4096px)  {
  .navbar-brand img{
    width: 10em;
  }
}

/* check */

